/*-----Varibales-----*/  
/*Fonts*/
$-main-font: 'Barlow', sans-serif;
$-primary-header-font: 'Bellefair', serif;
$-secondary-header-font: 'Barlow Condensed', sans-serif;

$-main-font-size: 16px;
/*Colors*/
$-neutral-white: #fff;