@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Barlow:wght@100;200&family=Bellefair&family=Public+Sans:wght@300;400;700&display=swap');

@import "variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: $-main-font-size;
  font-family: $-main-font;
  color: $-neutral-white;
}
@import "navigation";
@import "home";
@import "distination";
